# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset files (optionally exclude large CSV files if needed)
*.csv

# Model files (include these if they're not too large)
# *.pkl

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 